body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: floralwhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  margin-right:5px;
}

.card {
  width: 100%;
  position: relative;
  margin-top: 20px;
  background-color: lightsalmon;
}

.card-title {
  font-size: 30px;
}

.card-deck {
  width: 100%;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

.inputContainer .searchbar {
  width:15em;
}
.inputContainer .selectpicker {
  width:15em;
}

.cardContainer .cardHeaders {
  float:right;
}

@media (min-width: 10px) {
  .jumbotron {
    padding-bottom: 2em;
    padding-top: 2em; 
    background-color: lightsalmon;
  }
}