body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: floralwhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  margin-right:5px;
  margin-bottom: 5px;
}

.row {
  width: 100%;
}

.card {
  height: 320px; 
  width: 100%;
  position: relative;
  margin-top: 20px;
  background-color: burlywood;
}

.card-img-top {
  max-width:100%;
  height:65%;
}

.card-title {
  font-size: 17px;
}

.card-deck {
  width: 100%;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

.inputContainer .searchbar {
  width:15em;
}
.inputContainer .selectpicker {
  width:15em;
}

.cardContainer .cardHeaders {
  float:right;
}

.newRecipeDetails {
  width: 65%;
}

@media (min-height: 400px) {
  .jumbotron {
    padding-bottom: 2em;
    padding-top: 2em; 
    background-image: url("./Images/Udon.jpg");
    background-size: cover;
    color: floralwhite;
    height: 175px;
  }
}